---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<hr />

<!-- ========================== -->
<!--   CUSTOM PUBLICATION LIST  -->
<!-- ========================== -->

<section id="publications" class="publications">
  <h2>PUBLICATION LIST AND WORK IN PROGRESS</h2>

  <ol>
    <li>
      <strong>Tang, Y., Wang, H. J., and Li, D.</strong><br />
      <em>High-Dimensional Extreme Quantile Regression.</em><br />
      <cite>Statistica Sinica</cite>, major revision.
    </li>

    <li>
      <strong>Tang, Y., Chen, J., Li, D., and Wang, H. J.</strong><br />
      <em>Recent Advances in Conditional Extreme Quantile Analysis.</em><br />
      <cite>Annual Review of Statistics and Its Application</cite>, Vol. 13, to appear.
    </li>

    <li>
      <strong>Tang, Y., Wang, H. J., and Li, D.</strong><br />
      <em>Perturbation-based Inference for Extreme Value Index.</em><br />
      In preparation.
    </li>

    <li>
      <strong>Tang, Y., Wang, H. J., and Li, D.</strong><br />
      <em>High-Dimensional Extreme Quantile Regression with Weibull-type tails.</em><br />
      In preparation.
    </li>

    <li>
      <strong>Tang, Y. (Translator of Chapter 9, 10)</strong><br />
      <em>Causal Inference in Statistics, Social, and Biomedical Sciences: An Introduction (Chinese Edition).</em><br />
      <cite>Truth &amp; Wisdom Press</cite>, 2025.
    </li>
  </ol>
</section>
